@font-face {
	font-family: Abstract Slab;
	src: url(../fonts/abstract_slab.ttf);
}

@font-face {
	font-family: Joyeux;
	src: url(../fonts/Joyeux.ttf);
}

@font-face {
	font-family: Groteskia;
	src: url(../fonts/GROTESKIA.otf);
}

@font-face {
	font-family: Sertig;
	src: url(../fonts/Sertig.otf);
}

body {
	font-size: 10px;
	background-image: url(../images/stripe.png);
	position: relative;
}

div.header {
	margin: auto;
	padding: 0em;
	padding-top: 2em;
	background: #2a7630;
	height: 7em;
	width: 80em;
	text-align: center;
	border-radius: 1.25em 1.25em 0em 0em;
	box-shadow: 0em 0.2em 1em #000000;
	border-bottom: 0.4em solid #eeeeee
} 

div.header:hover { 
	background: #2c8135;
	box-shadow: 0em 0.7em 2em #000000;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	-o-transition: background 0.6s;
}

h1.header {
	padding: 0em;
	margin: 0em;
	margin-top: 0.15em;
	font-size: 9em;
	font-family: Abstract Slab;
	font-weight: 300;
	color: #232323;
}

h1.header:hover {
	color: #eeeeee;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
}

div.menu-bar {
	border: none;
	background: #bf4340;
	width: 26.7em;
	margin: auto;
	padding: 0.3em 0em 0.3em 0em;
	font-size: 3em;
	text-align: center;
}

a.menu-link {
	text-decoration: none;
	font-family: Joyeux;
	color: #eeeeee;
	margin-left: 0.5em;
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-radius: 0.2em 0.2em 0em 0em;
} 

a.menu-link:hover {
	color: #602265;
	background: #eeeeee;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
}

a.menu-link-active {
	text-decoration: none;
	font-family: Joyeux;
	margin-left: 0.5em;
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-radius: 0.2em 0.2em 0em 0em;
	color: #602265;
	background: #eeeeee;
}

div.content {
	border-radius: 0em 0em 1.25em 1.25em;
	margin: auto;
	margin-top: -0.5em;
	background: rgba(225,225,225,0.8);
	width: 76em;
	padding: 2em;
	min-height: 50em;
	box-shadow: 0em 0.2em 2em #000000;
	border-top: 0.4em solid #eeeeee
}

div.content:hover {
	box-shadow: 0em 0.5em 2em #000000;
}

h2.entry-title {
	font-size: 2.5em;
	font-family: Groteskia;
}

p.entry{
	font-size: 2em;
	font-family: Sertig;
	text-indent: 3em;
	text-align:justify;
}

#notice {
	color: #bf4340;
	font-size: 6em;
	font-weight: bold;
	text-align: center;
	font-family: Sertig;
}